[submodule "external/odin-vk-bootstrap"]
	path = external/odin-vk-bootstrap
	url = git@github.com:ARTurleite6/odin-vk-bootstrap.git
[submodule "external/odin-vma"]
	path = external/odin-vma
	url = https://github.com/Capati/odin-vma
[submodule "external/odin-tinyobjloader/tinyobjloader-c"]
	path = external/odin-tinyobjloader/tinyobjloader-c
	url = git@github.com:syoyo/tinyobjloader-c.git
[submodule "external/odin-imgui"]
	path = external/odin-imgui
	url = git@gitlab.com:L-4/odin-imgui.git
[submodule "external/odin-spirv-reflect/SPIRV-Reflect"]
	path = external/odin-spirv-reflect/SPIRV-Reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
[submodule "external/odin-spirv-cross/SPIRV-Cross"]
	path = external/odin-spirv-cross/SPIRV-Cross
	url = git@github.com:KhronosGroup/SPIRV-Cross.git
